In [36]:
##lib importing
import pandas as pd

In [37]:
##files loading
path = "datasets/"
filename = "german.csv"
german = pd.read_csv(path + filename, index_col=0)
german

,name,price,vehicleType,yearOfRegistration,gearbox,horsepower,model,kilometer,fuelType,brand,notRepairedDamage
3,GOLF_4_1_4__3TÜRER,1500,kleinwagen,2001,manuell,73.950,golf,150000,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600,kleinwagen,2008,manuell,68.034,fabia,90000,diesel,skoda,nein
6,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,manuell,107.474,2_reihe,150000,benzin,peugeot,nein
10,Mazda_3_1.6_Sport,2000,limousine,2004,manuell,103.530,3_reihe,150000,benzin,mazda,nein
14,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,17999,suv,2011,manuell,187.340,navara,70000,diesel,nissan,nein
...,...,...,...,...,...,...,...,...,...,...,...
371516,Volkswagen_Lupo_1.0,1490,kleinwagen,1998,manuell,49.300,lupo,150000,benzin,volkswagen,nein
371517,Volkswagen_Golf_2.0_TDI_DPF_Team,7900,limousine,2010,manuell,138.040,golf,150000,diesel,volkswagen,nein
371524,Smart_smart_leistungssteigerung_100ps,1199,cabrio,2000,automatik,99.586,fortwo,125000,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,bus,1996,manuell,100.572,transporter,150000,diesel,volkswagen,nein
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,limousine,2013,manuell,315.520,m_reihe,50000,benzin,bmw,nein

In [40]:
german = german.rename(columns={"vehicleType": "vehicle_type", "yearOfRegistration": "year", "gearbox": "transmission", "kilometer": "km", "fuelType": "fuel_type"})

In [41]:
set(german['vehicle_type'])

{'andere', 'bus', 'cabrio', 'coupe', 'kleinwagen', 'kombi', 'limousine', 'suv'}

In [42]:
vehicle_type_dict = {"andere" : "other", 'bus' : "van", 'cabrio' : "cabrio", 'coupe' : "coupé", 'kleinwagen' : "small_car", 'kombi' : "sports_tourism_van", 'limousine' : 'large_family_car', 'suv' : 'suv'}

In [46]:
german['vehicle_type'] = german['vehicle_type'].map(vehicle_type_dict)

,name,price,vehicle_type,year,transmission,horsepower,model,km,fuel_type,brand,notRepairedDamage
3,GOLF_4_1_4__3TÜRER,1500,small_car,2001,manuell,73.950,golf,150000,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600,small_car,2008,manuell,68.034,fabia,90000,diesel,skoda,nein
6,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,manuell,107.474,2_reihe,150000,benzin,peugeot,nein
10,Mazda_3_1.6_Sport,2000,large_family_car,2004,manuell,103.530,3_reihe,150000,benzin,mazda,nein
14,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,17999,suv,2011,manuell,187.340,navara,70000,diesel,nissan,nein
...,...,...,...,...,...,...,...,...,...,...,...
371516,Volkswagen_Lupo_1.0,1490,small_car,1998,manuell,49.300,lupo,150000,benzin,volkswagen,nein
371517,Volkswagen_Golf_2.0_TDI_DPF_Team,7900,large_family_car,2010,manuell,138.040,golf,150000,diesel,volkswagen,nein
371524,Smart_smart_leistungssteigerung_100ps,1199,cabrio,2000,automatik,99.586,fortwo,125000,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,van,1996,manuell,100.572,transporter,150000,diesel,volkswagen,nein
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,large_family_car,2013,manuell,315.520,m_reihe,50000,benzin,bmw,nein

In [48]:
transmission_dict = {"manuell": "manual", "automatik": "automatic"}
german['transmission'] = german['transmission'].map(transmission_dict)

german

,name,price,vehicle_type,year,transmission,horsepower,model,km,fuel_type,brand,notRepairedDamage
3,GOLF_4_1_4__3TÜRER,1500,small_car,2001,manual,73.950,golf,150000,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600,small_car,2008,manual,68.034,fabia,90000,diesel,skoda,nein
6,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,manual,107.474,2_reihe,150000,benzin,peugeot,nein
10,Mazda_3_1.6_Sport,2000,large_family_car,2004,manual,103.530,3_reihe,150000,benzin,mazda,nein
14,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,17999,suv,2011,manual,187.340,navara,70000,diesel,nissan,nein
...,...,...,...,...,...,...,...,...,...,...,...
371516,Volkswagen_Lupo_1.0,1490,small_car,1998,manual,49.300,lupo,150000,benzin,volkswagen,nein
371517,Volkswagen_Golf_2.0_TDI_DPF_Team,7900,large_family_car,2010,manual,138.040,golf,150000,diesel,volkswagen,nein
371524,Smart_smart_leistungssteigerung_100ps,1199,cabrio,2000,automatic,99.586,fortwo,125000,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,van,1996,manual,100.572,transporter,150000,diesel,volkswagen,nein
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,large_family_car,2013,manual,315.520,m_reihe,50000,benzin,bmw,nein

In [49]:
german['horsepower'] = german['horsepower'].astype(int)

In [50]:
german['fuel_type'].unique()

array(['benzin', 'diesel', 'lpg', 'andere', 'hybrid', 'cng', 'elektro'],
      dtype=object)

In [52]:
fuel_dict = {"benzin": "gas", "diesel": "diesel", "lpg": "GPL", 'andere': "other", 'hybrid': 'hybrid', 'cng': "CNG"}

In [53]:
german['fuel_type'] = german['fuel_type'].map(fuel_dict)

In [54]:
german.dtypes

name                 object
price                 int64
vehicle_type         object
year                  int64
transmission         object
horsepower            int64
model                object
km                    int64
fuel_type            object
brand                object
notRepairedDamage    object
dtype: object

In [57]:
german.to_csv(path + "german_transl.csv")
german

,name,price,vehicle_type,year,transmission,horsepower,model,km,fuel_type,brand,notRepairedDamage
3,GOLF_4_1_4__3TÜRER,1500,small_car,2001,manual,73,golf,150000,gas,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600,small_car,2008,manual,68,fabia,90000,diesel,skoda,nein
6,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,manual,107,2_reihe,150000,gas,peugeot,nein
10,Mazda_3_1.6_Sport,2000,large_family_car,2004,manual,103,3_reihe,150000,gas,mazda,nein
14,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,17999,suv,2011,manual,187,navara,70000,diesel,nissan,nein
...,...,...,...,...,...,...,...,...,...,...,...
371516,Volkswagen_Lupo_1.0,1490,small_car,1998,manual,49,lupo,150000,gas,volkswagen,nein
371517,Volkswagen_Golf_2.0_TDI_DPF_Team,7900,large_family_car,2010,manual,138,golf,150000,diesel,volkswagen,nein
371524,Smart_smart_leistungssteigerung_100ps,1199,cabrio,2000,automatic,99,fortwo,125000,gas,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,van,1996,manual,100,transporter,150000,diesel,volkswagen,nein
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,large_family_car,2013,manual,315,m_reihe,50000,gas,bmw,nein