In [3]:
import pandas as pd

In [7]:
data = pd.read_csv('All_Cars_Cleaned.csv')

,Unnamed: 0,Ano de Registo,Combustível,Condição,ID,Marca,Potência,Quilómetros,Segmento,Tipo de Caixa,Série,Origem
0,0,2013,Gasolina,Usados,8073675579,Cadillac,409,47200,SUV / TT,Automática,NaN,NaN
1,1,2012,Diesel,Usados,8069978966,Porsche,250,113000,Sedan,Automática,NaN,NaN
2,2,2013,Diesel,Usados,8068316065,Citroën,115,104000,Citadino,Manual,NaN,NaN
3,3,2018,Diesel,Usados,8074629399,BMW,190,35000,Sedan,Automática,Série 5,NaN
4,4,2018,Diesel,Usados,8075510964,Mercedes-Benz,190,78453,Sedan,Automática,Classe E,Nacional
...,...,...,...,...,...,...,...,...,...,...,...,...
15809,15809,2017,Diesel,Usados,8047877369,MINI,116,10000,Citadino,Automática,NaN,Nacional
15810,15810,2015,Gasolina,Usados,8075644442,Yamaha,200,17900,Supersport,Unknown,NaN,NaN
15811,15811,2018,Diesel,Usados,8074969766,BMW,190,22373,Carrinha,Automática,Série 3,NaN
15812,15812,2018,Diesel,Usados,8041049841,BMW,190,10000,Sedan,Automática,Série 5,Nacional
15813,15813,2018,Diesel,Usados,8070351518,Mercedes-Benz,204,33000,Cabrio,Automática,Classe C,Nacional

In [8]:
german_data = pd.read_csv('../datasets/german_transl.csv')
german_data.head()

,Unnamed: 0,name,price,vehicle_type,year,transmission,horsepower,model,km,fuel_type,brand,notRepairedDamage
0,3,GOLF_4_1_4__3TÜRER,1500,small_car,2001,manual,73,golf,150000,gas,volkswagen,nein
1,4,Skoda_Fabia_1.4_TDI_PD_Classic,3600,small_car,2008,manual,68,fabia,90000,diesel,skoda,nein
2,6,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,manual,107,2_reihe,150000,gas,peugeot,nein
3,10,Mazda_3_1.6_Sport,2000,large_family_car,2004,manual,103,3_reihe,150000,gas,mazda,nein
4,14,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,17999,suv,2011,manual,187,navara,70000,diesel,nissan,nein

In [9]:
set(german_data['fuel_type'])

{'CNG', 'GPL', 'diesel', 'gas', 'hybrid', nan, 'other'}

In [20]:
german_data['fuel_type'].isnull().sum()

47

In [19]:
base_data = pd.read_csv('base_data.csv')
base_data.head()

,Unnamed: 0,0,1,2,3
0,0,8059436495,https://www.standvirtual.com/anuncio/vw-golf-v...,VW Golf V,7 500
1,1,8065634238,https://www.standvirtual.com/anuncio/bmw-320-3...,BMW 320 320 D Pack M - Nacional,7 500
2,2,8074898322,https://www.standvirtual.com/anuncio/mercedes-...,Mercedes-Benz E 220 Elegance,7 500
3,3,8074081544,https://www.standvirtual.com/anuncio/peugeot-2...,Peugeot 208 1.2 PureTech Signature,7 500
4,4,8072669177,https://www.standvirtual.com/anuncio/honda-hr-...,Honda HR-V 1.5 i-VTEC EXECUTIVE,7 500

In [25]:
price = base_data[['0','3']]
price.head()
price.to_csv('sv_prices.csv')

In [ ]:
group_by